@using Microsoft.AspNetCore.Identity;
@using TextReader.Data.Database;
@inject UserManager<ApplicationUser> UserManager
@{
    string username = User.Identity?.Name;
    ApplicationUser user = null;

    if (username != null)
    {
        user = await UserManager.FindByNameAsync(username);
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TextReader</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />*@

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Ubuntu:wght@500;700&display=swap"
          rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/assets/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/assets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/assets/css/style.css" rel="stylesheet">

    <!-- DataTables CSS and Responsive Extension -->
    <link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/responsive/2.2.7/css/responsive.dataTables.min.css" rel="stylesheet">

</head>
<body>
    <!-- Spinner Start -->
    <div id="spinner"
         class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->
    <!-- Navbar Start -->
    <div class="container-fluid sticky-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark p-0">
                <a href="index.html" class="navbar-brand">
                    <h1 class="text-white">Text<span class="text-white">-</span>Reader</h1>
                </a>
                <button type="button" class="navbar-toggler ms-auto me-0" data-bs-toggle="collapse"
                        data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto">
                        <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="nav-item nav-link active">Home</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Extract</a>
                            <div class="dropdown-menu bg-light mt-2">
                                <a asp-area="Admin" asp-controller="ImageText" asp-action="Index" class="dropdown-item">Image</a>
                                <a asp-area="Admin" asp-controller="PDFText" asp-action="Index" class="dropdown-item">PDF</a>
                                <a asp-area="Admin" asp-controller="AudioText" asp-action="Index" class="dropdown-item">Audio</a>
                                <a asp-area="Admin" asp-controller="VideoText" asp-action="Index" class="dropdown-item">Video</a>
                            </div>
                        </div>
                        <a asp-area="Admin" asp-controller="User" asp-action="Index" class="nav-item nav-link">User</a>
                        <a href="about.html" class="nav-item nav-link">About</a>
                        <a href="contact.html" class="nav-item nav-link">Contact</a>
                        @if (User.Identity.IsAuthenticated == false)
                        {
                            <a asp-area="Admin" asp-controller="Account" asp-action="Login" class="nav-item nav-link">Login</a>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link active" data-bs-toggle="dropdown">
                                    <i class="fa fa-user me-3"></i>@user.FirstName @user.LastName
                                </a>
                                <div class="dropdown-menu bg-light mt-2">
                                    <a asp-area="Admin" asp-controller="" asp-action="" class="dropdown-item">Profile</a>
                                    <a asp-area="Admin" asp-controller="" asp-action="" class="dropdown-item">Change Password</a>
                                    <a asp-area="Admin" asp-controller="Account" asp-action="Logout" class="dropdown-item">Logout</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->

    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white-50 footer pt-5">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.1s">
                    <a href="index.html" class="d-inline-block mb-3">
                        <h1 class="text-white">Text<span class="text-primary">-</span>Reader</h1>
                    </a>
                    <p class="mb-0">
                        Welcome to Text Reader Here You can Extract Text from Image, PDF, Audio and Video. Its a Very Fast, simple and affordable transcription
                    </p>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.5s">
                    <h5 class="text-white mb-4">Popular Link</h5>
                    <a class="btn btn-link" href="">About Us</a>
                    <a class="btn btn-link" href="">Contact Us</a>
                    <a class="btn btn-link" href="">Privacy Policy</a>
                    <a class="btn btn-link" href="">Terms & Condition</a>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                    <h5 class="text-white mb-4">Social Media</h5>
                    <p class="btn btn-link" href=""><i class="fab fa-twitter me-3"></i>Twitter</p>
                    <p class="btn btn-link" href=""><i class="fab fa-facebook-f me-3"></i>Facebook</p>
                    <p class="btn btn-link" href=""><i class="fab fa-instagram me-3"></i>Instagram</p>
                    <p class="btn btn-link" href=""><i class="fab fa-linkedin-in me-3"></i>Linkedin</p>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeIn" data-wow-delay="0.3s">
                    <h5 class="text-white mb-4">Contact-Us</h5>
                    <p><i class="fa fa-map-marker-alt me-3"></i>Gaya, Bihar, INDIA</p>
                    <p><i class="fa fa-phone-alt me-3"></i>+91 9955162768</p>
                    <p><i class="fa fa-envelope me-3"></i>purushottam09@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="container wow fadeIn" data-wow-delay="0.1s">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a>Text-Reader</a>, All Right Reserved.

                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Designed By <a>Purushottam Kumar Singh</a> Distributed By <a class="border-bottom" href="#">Evince Development</a>
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <div class="footer-menu">
                            <a href="">Home</a>
                            <a href="">Cookies</a>
                            <a href="">Help</a>
                            <a href="">FAQs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top pt-2"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/lib/wow/wow.min.js"></script>
    <script src="/assets/lib/easing/easing.min.js"></script>
    <script src="/assets/lib/waypoints/waypoints.min.js"></script>
    <script src="/assets/lib/counterup/counterup.min.js"></script>
    <script src="/assets/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="/assets/js/main.js"></script>

    <!-- DataTables and DataTables Responsive JavaScript -->
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.7/js/dataTables.responsive.min.js"></script>


    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>*@
    @RenderSection("Scripts", required: false)
</body>
</html>
